/* global reset */

:root {
  --orange: #fe5e35;
  --yellow: #fbd104;
  --grey: #8b8b8b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

/* nav bar */
nav {
  display: flex;
  padding: 2.5rem 2rem;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 120px;
}
.nav-items {
  display: flex;
}
.nav-item {
  margin-left: 40px;
  font-size: 1.2rem;
  font-weight: 600;
}
.nav-item:hover {
  color: var(--orange);
}
/* hero section */
.intro-section {
  padding: 0 30px;
  display: flex;
}
/* left section */

.left-section h3 {
  font-size: 2.3rem;
  margin-top: 40px;
  display: flex;
  align-items: center;
  font-weight: 400;
}
.left-section img {
  margin-left: 10px;
}
.left-section h1 {
  font-family: "Fredoka One";
  font-size: 3.5rem;
  margin-top: 20px;
  font-weight: 400;
}
.sub-headlines {
  padding-left: 40px;
  padding-top: 20px;
}
.sub-headline {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.sub-headline img {
  margin-right: 10px;
  background-color: var(--orange);
  border-radius: 100px;
  padding: 3px;
}
.text {
  font-size: 0.8rem;
  color: var(--grey);
  margin-top: 40px;
  margin-bottom: 40px;
  width: 70%;
}

.action-btn {
  margin-top: 20px;
  margin-left: 15px;
  padding: 15px 42px;
  background-color: var(--orange);
  border: none;
  border-radius: 100px;
  color: #fff;
  font-size: 1rem;
}

/* right section */
.right-section {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discount {
  position: absolute;
  width: 120px;
  top: 50%;
  left: 20%;
  text-shadow: 10px -10px 5px #121212;
}
.discount-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
  font-family: "Fredoka One";
  font-weight: 400;
  top: 56%;
  left: 24%;
  z-index: 2;
}
.discount-content h1 {
  font-size: 2rem;
}
.headphone {
  margin-top: 10px;
  margin-left: 0;
  width: 450px;
}
.dots {
  display: flex;
  justify-content: space-between;
  width: 90px;
}
.dot {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  margin-bottom: -10px;
  margin-top: -25px;
}
.yellow-dot {
  background-color: var(--yellow);
}
.tomato-dot {
  background-color: var(--orange);
}
.black-dot {
  background-color: #121212;
}
/* responsive code */
@media screen and (max-width: 1140px) {
  /* navbar */
  nav {
    padding: 2rem 1rem;
  }
  .nav-items {
    display: none;
  }
  .logo {
    width: 6rem;
  }
  .action {
    display: 15rem;
  }
  .text {
    width: 100%;
  }
}
/* smaller screen */
@media screen and (max-width: 980px) {
  .intro-section {
    display: flex;
    flex-direction: column;
    margin: 0 1px;
    padding-bottom: 20px;
  }
  .left-section {
    text-align: center;
  }
  .headphone {
    width: 80vw;
  }
  .discount {
    width: 30%;
    left: 10px;
    bottom: 8%;
  }
  .discount-content {
    left: 10%;
    bottom: 32%;
  }
  .discount-content h4 {
    font-size: 0.8rem;
  }
  .discount-content h1 {
    font-size: 0.8rem;
  }
}
html,
body {
  overflow-x: hidden;
}
